	*{  margin:0;
	padding:0;
	box-sizing:border-box; 
	} 

	html, body{
	margin:0;
	padding:0;
	box-sizing:border-box;
	border:none;
	}
	
	h1, h2, h3, h4, p{
	margin:0;
	padding:0;
	}
        
    body{
    background:rgb(127, 127, 127);
    background-image: url("../images/bckgimg.jpg");
    background-size:cover;
    background-repeat: no-repeat ;
    background-attachment: fixed;
    background-position:center; 
    }
	
	
	.main_wrapper{
	width:100%;
	margin:0 auto;
	background:rgba(225,225,225, 0.8);

	}
	
	.main_wrapper::after {
	content: "";
	clear: both;
	display: table;
	}

	.header{
	width:100%;
	display:flex;
	flex-direction:row;
	align-content:center;
	justify-content: space-around;
	align-items:center;
	height:150px;
	/*background:rgb(77,77,77);*/
	background:rgba(45,45,45,0.8);
	margin: 0 auto;
	position: relative;
	}

	.navbar{
	position:relative;
	height:50px;
	/*background:rgba(45,45,45,0.8);*/
	background:rgba(45,45,45,0.8);
	}   

	.menu{
	display:block;
	width:100%; 
	height:50px;
	line-height:50px;
	text-align:center; 
	background:inherit;
	position:relative;
	background:none;
	} 
	
	.menu a{
	text-decoration:none;
	margin-left:10px; 
	margin-right:10px;
	display:inline-block;
	text-align: center;
	font-family: Verdana, Arial, Tahoma, Serif;
	padding:10px;
	line-height:5px;
	}
	
	.menubuttons{
	color:rgb(245, 245, 245);
	background:transparent;
	padding:10px;
	}
	
	.menubuttons:hover{
	background:sandybrown;
	padding:15px;
	}

	.menuactivebuttons{
	color:red;
	padding:10px;
	}
	
	.menuactivebuttons:hover{
	background:sandybrown;
	color:rgb(245, 245, 245);
	padding:15px;
	}
	
	
	.mobmenucontainer{
	position: fixed;
	top:0;
	z-index:1000;
	height: 55px;
	width: 100%;
	margin:0 auto;
	background:sandybrown;
	padding:5px;
	display:none
	}
	
	.main_title_mob{
	background:sandybrown;
	color:#000;
	font-size:18px;
	height:40px;
	line-height:40px;
	
	}
	
	.mobmenu{
	min-width:300px;
	height:300px;
	max-height:300px;
	padding:5px;
	font-size:12px;
	line-height:20px;
	margin-bottom:5px;
	z-index:5000;
	right: 0;
	top:50px;
	overflow-y: auto;
	position: absolute;
	background:burlywood;
	}   
	
	.mobmenuitems{
	width:80%;
	height:30px;
	display:block;
	padding:5px;
	font-size:12px;
	line-height:20px;
	margin: 0 auto;
	margin-top:10px;
	color:white;
	text-decoration:none;
	background:#666;
	border-radius: 2px;
	}
	
	.mobmenucontainer{
	display: none;
	} 
				
	.sec_navbar{
	display:block;
	width:100%; 
	text-align:right; 
	background:none;
	position:relative;
	padding:5px;
	background:rgba(45,45,45,0.8);
	} 
	
	.sec_navbar a{
	width:150px;
	display:block;
	display:inline-block;	
	text-align: center;
	font-style:italic;
	font-weight:bold;
	height:40px;
	text-decoration:none;
	padding:10px;
	font-family:OCR A Std, monospace;
	
	}
	
	
	.sec_navbar_menubtns{
	font-size:14px;
	text-decoration:none;
	background:transparent;
	color:aqua;
	padding:10px;
	}
	
	
	.sec_navbar_menubtns:hover{
	color:magenta;
	padding:15px;
	}

	.sec_navbar_activebtns{
	color:red;
	padding:15px;
	}
	
	.sec_navbar_activebtns:hover{
	color:magenta;
	padding:15px;
	}
 

    #logoid{
    width:130px;
    height:130px;
    border-radius: 100px; 
	}
	
	#logoid:hover{
    width:150px;
    height:150px;
    }
	
    .main_title{
    background:none;
    color:white;
    font-size:60px;
    font-family: "Lucida Console", "Courier New", monospace;
    height:130px;
    display:inline-block;
    line-height:130px;
    }
	
	/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
	/*///////////////////////////////////////////////////// START HEADER MEDIAQUERIES - MAX-WIDTH 350PX  ///////////////////////////////////////////////////*/
	/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

	
	@media only screen and (max-width: 300px) {

	.header{
	display:none;
	}

	.navbar{
	display:none;
	} 
	
	.sec_navbar{
	display:none;
	}
	
	#mobmenu{
	display:none;
	}

	.mobmenucontainer{
	position:relative;
	display:grid;
	grid-template-columns: 50% 40%;
	justify-content:center;
	align-items:center;
	align-content:center;
	grid-column-gap:10px;
	padding:5px;	
	}		

	.main_title_mob{
	display:none
	} 

	#navbutton{
	width:40px;
	height:40px;
	cursor: pointer;
	position: relative;
    justify-self: right;
	}

	#mob_menu_logo{
	width:100px;
	height:40px;
	border:1px solid black;
	border-radius:5px;
	margin-bottom:5px;
	}
	
	
}


	/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
	/*//////////////////////////////////////////////////// START HEADER MEDIAQUERIES - MAX-WIDTH 500PX  ///////////////////////////////////////////////////*/
	/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

	
	@media only screen and (max-width: 500px) and (min-width: 300px) {

	.header{
	display:none;
	}

	.navbar{
	display:none;
	}   

	.sec_navbar{
		display:none;
	}

	/*MOBILE MENU CSS*/	
	
		#mobmenu{
	display:none;
	}  
	
	.mobmenucontainer{
	position:relative;
	display:grid;
	grid-template-columns:repeat(6, 1fr);
	justify-content:end;
	align-items:center;
	align-content:center;
	padding:5px;	
	}		

	.main_title_mob{
	display:none
	} 

	#navbutton{
	width:40px;
	height:40px;
	cursor: pointer;
	position: relative;
    justify-self: right;
	align_item:end;
	} 

	#navbutton{
	width:40px;
	height:40px;
	cursor: pointer;
	position: relative;
    grid-column: 6/span 1;
	justify-self:start;
	}

	#mob_menu_logo{
	width:110px;
	height:40px;
	border:1px solid black;
	border-radius:5px;
	margin-bottom:5px;
	grid-column: 1/span 2;
	justify-self:center;

	}
	.mobmenu{
	display:none;
	} 
	
	/*END MOBILE MENU CSS*/
	
	.menudiv a:hover{
	color:darkblue;
	background:aqua;
	padding:10px;
	}

	.menubuttons{
	color:rgb(245, 245, 245);
	background:transparent;
	padding:10px;
	}

	.menuactivebuttons{
	color:red;
	padding:10px;
	}


	#logoid{
	width:130px;
	height:130px;
	border-radius: 100px; 
	}

	#logoid:hover{
	width:150px;
	height:150px;
	}

	.main_title{
	font-size:60px;
	height:130px;
	line-height:130px;
	}
	
}

	/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
	/*//////////////////////////////////////////////////// START HEADER MEDIAQUERIES - MIN-WIDTH 500PX  ///////////////////////////////////////////////////*/
	/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

	@media only screen and (min-width: 500px) {

	.main_wrapper{
	max-width:80%;

	}

	.header{
	display:none;
	}
	

	.navbar{

	} 
	
	.sec_navbar{
	display:none;
	}
	
	/*MOBILE MENU CSS*/	
	
	.mobmenucontainer{
	max-width:80%;
	display:grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap:10px;	
	justify-items:center;
	}			



	.mobmenuitems{
	height:30px;
	display:block;
	padding:5px;
	font-size:12px;
	line-height:20px;
	}

	#mobmenu{
	display:none;
	}   

	#mob_menu_logo{
	width:100px;
	height:40px;
	border:1px solid black;
	border-radius:5px;
	grid-column: 1/span 1;
	}
	
	.main_title_mob{
	font-size:18px;
	height:40px;
	line-height:40px;
	grid-column: 2/span 3;

	}
	
	#navbutton{
	width:40px;
	height:40px;
	cursor: pointer;
	position: relative; 
	grid-column: 5/span 1;

	
	}

	/*END MOBILE MENU CSS*/
	.menudiv a:hover{
	color:darkblue;
	background:aqua;
	padding:10px;
	}


	.menubuttons{
	color:rgb(245, 245, 245);
	background:transparent;
	padding:10px;
	}


	.menuactivebuttons{
	color:red;
	padding:10px;
	}

	.lastmenuitem{
	border-right: none;
	}

	#logoid{
	width:130px;
	height:130px;
	border-radius: 100px; 
	}

	#logoid:hover{
	width:150px;
	height:150px;
	}

	.main_title{
	font-size:60px;
	height:130px;
	line-height:130px;
	}
	
}



	/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
	/*//////////////////////////////////////////////////// START HEADER MEDIAQUERIES - MIN-WIDTH 768PX  ///////////////////////////////////////////////////*/
	/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

	@media only screen and (min-width: 768px) {

	.main_wrapper{
	max-width:90%;
	}

	.header{
	display:grid;
	grid-template-columns:auto auto auto;
	gap:10px;
	}
	
	.sticky{
	position:fixed;
	top:0;
	width:90%;
	z-index:1000;
	margin:0 auto;
	height:50px;
	padding-bottom:30px;
	background:inherit;
	}
	

	.sec_navbar{
	display:block;
	} 
	
	.menu a{
	width:100px;
	font-size:14px;
	padding:10px;
	line-height:5px;
	}

	/*MOBILE MENU CSS*/	
	
	.mobmenucontainer{
	display:none;
	}			

	#mobmenu{
	display:none;
	}   

	.mobmenu{
	display:none;
	} 

	/*END MOBILE MENU CSS*/
	
	.menubuttons{
	color:rgb(245, 245, 245);
	background:transparent;
	padding:10px;
	}

	.menuactivebuttons{
	color:red;
	padding:10px;
	}

	#logoid{
	width:100px;
	height:100px;
	border-radius: 100px; 
	}

	#logoid:hover{
	width:110px;
	height:110px;
	}

	.main_title{
	font-size:50px;
	height:100px;
	line-height:100px;
	}
	
}


	/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
	/*//////////////////////////////////////////////////// START HEADER MEDIAQUERIES - MIN-WIDTH 992PX  ///////////////////////////////////////////////////*/
	/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

	@media only screen and (min-width: 992px) {

	.main_wrapper{
	max-width:90%;
	}
	
	.inner_wrapper{
	width:90%;
	margin:0 auto;
	}

	.header{
	display:grid;
	grid-template-columns:auto auto auto;
	justify-content: space-evenly;
	justify-items: center;
	align-content: space-evenly;
	align-items: center
	}
	
	.sticky{
	position:fixed;
	top:0;
	width:81%;
	z-index:1000;
	margin:0 auto;
	height:50px;
	padding-bottom:30px;
	background:inherit;
	
	}
	
	.menu{

	} 
		
	.menu a{
	width:100px;
	font-size:14px;
	padding:10px;
	line-height:5px;
	}

	/*MOBILE MENU CSS*/	
	
	.mobmenucontainer{
	display:none;
	}		

	#mobmenu{
	display:none;
	}   

	
	.mobmenu{
	display:none;
	} 

	/*END MOBILE MENU CSS*/
	

	.menubuttons{
	color:rgb(245, 245, 245);
	background:transparent
	padding:10px;
	}


	.menuactivebuttons{
	color:red;
	padding:10px;
	}

	#logoid{
	width:120px;
	height:120px;
	border-radius: 100px; 
	}

	#logoid:hover{
	width:130px;
	height:130px;
	}

	.main_title{
	font-size:50px;
	height:130px;
	line-height:120px;
	}
	
}




	/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
	/*//////////////////////////////////////////////////// START HEADER MEDIAQUERIES - MIN-WIDTH 1200PX  ///////////////////////////////////////////////////*/
	/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

	@media only screen and (min-width: 1200px) {

	.main_wrapper{
	max-width:80%;
	background:rgba(225,225,225, 0.8);
	}
	
	.inner_wrapper{
	width:80%;
	margin:0 auto;
	}

	.header{
	display:grid;
	grid-template-columns:auto auto auto;
	justify-content: space-evenly;
	justify-items: center;
	align-content: space-evenly;
	align-items: center
	}

	.menu{

	} 
		
	.menu a{
	width:110px;
	font-size:16px;
	text-decoration:none;
	margin-left:10px; 
	margin-right:10px;
	display:inline-block;
	text-align: center;
	font-family: Verdana, Arial, Tahoma, Serif;
	padding:10px;
	line-height:5px;
	}

	.sticky{
	width:64%;
	height:50px;
	padding-bottom:30px;
	background:inherit;
	}
	
	/*MOBILE MENU CSS*/	
	
	.mobmenucontainer{
	display:none;
	}		

	#mobmenu{
	display:none;
	}   

	
	.mobmenu{
	display:none;
	} 

	/*END MOBILE MENU CSS*/
	
	.menubuttons{
	color:rgb(245, 245, 245);
	background:transparent
	padding:10px;
	}

	.menuactivebuttons{
	color:red;
	padding:10px;
	}

	#logoid{
	width:120px;
	height:120px;
	border-radius: 100px; 
	}

	#logoid:hover{
	width:130px;
	height:130px;
	}

	.main_title{
	font-size:50px;
	height:130px;
	line-height:120px;
	}
	
}